*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.3rem;
}

.example {
  width: 90%;
  margin: 5em auto;
  padding: 10em 0;
  background-color: steelblue;
}

@media (min-width:600px) {
  .example {
    background-color: orangered;
  }
}